<div class="mt-10 sm:mx-auto max-w-5xl">
  <%= form_with model: comment, url: post_comments_path(@post) do |f| %>
  <div>
    <%= f.label :body, class: "font-handwritten text-xl"%>
    <%= f.text_area :body, class: "w-full rounded-md py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 mb-2" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary text-white" %>
  <% end %>
</div>